@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 990px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 24px;

////////////////////
// フォント設定
////////////////////

$roboto-font: 'Roboto', sans-serif;
$noto-font: 'Noto Sans JP', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $roboto-font;
}

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #4E4E4E;
$white: #fff;
$white02: #EDEFF0;
$light-gray: #F4F0F0;
$bg-blue: #7FB0BF;
$skyblue: #CFDBE1;
$skyblue02: #BBCCD1;
$beige: #C6C6C6;

body {
  color: $black;
  background-color: $bg-blue;
}